# Database connection string
DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Used to encrypt JWT tokens
PAYLOAD_SECRET=

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000/

# Secret used to authenticate cron jobs
CRON_SECRET=

# Used to validate preview requests
PREVIEW_SECRET=

# Added by Payload

# S3 Storage
# Set to 'false' to store media locally instead of S3
# S3_ENABLED=false
S3_ENDPOINT=
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
