# Database connection string
DATABASE_URL=postgresql://postgres:iXXzHqzWDKochbXAOpgixBiLQfiVwIMi@hayabusa.proxy.rlwy.net:21532/railway
# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=311ccd5435cf7204acb7d347

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000/

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Added by Payload

# S3 Storage
S3_ENDPOINT=https://t3.storageapi.dev
S3_BUCKET=adaptable-locker-pujhodie
S3_REGION=auto
S3_ACCESS_KEY_ID=tid_VTlrdghiORfUKMPVHSbOhdMCEnSqoaIeHYzbojHxYGzaoDojYq
S3_SECRET_ACCESS_KEY=tsec_+752lG_QWuPWogHAxOMSkCRymF6kcJUVNIPAtjcSow27PEEWMI1FHdvp08xAImUuEOS4gx
