@import 'tailwindcss';
@import 'tw-animate-css';

@config '../../../tailwind.config.mjs';

@custom-variant sm (@media (width >= theme(--breakpoint-sm)));
@custom-variant md (@media (width >= theme(--breakpoint-md)));
@custom-variant lg (@media (width >= theme(--breakpoint-lg)));
@custom-variant xl (@media (width >= theme(--breakpoint-xl)));
@custom-variant 2xl (@media (width >= theme(--breakpoint-2xl)));

@layer base {
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }

  h1,
  h2 {
    @apply font-alfa-slab-one text-primary uppercase tracking-wider;
  }

  h1 {
    @apply text-5xl sm:text-6xl md:text-7xl;
  }

  h2 {
    @apply text-2xl md:text-2xl lg:text-5xl;
  }
}

@components {
  .subheader {
    @apply uppercase;
  }
}

@plugin "@tailwindcss/typography";

@source inline("lg:col-span-4");
@source inline("lg:col-span-6");
@source inline("lg:col-span-8");
@source inline("lg:col-span-12");
@source inline("bg-card");
@source inline("border-error");
@source inline("bg-error/30");
@source inline("border-success");
@source inline("bg-success/30");
@source inline("border-warning");
@source inline("bg-warning/30");

@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 86rem;
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-poppins);
  --font-alfa-slab-one: var(--font-alfa-slab-one);

  --background-image-hero-overlay: linear-gradient(
    to bottom,
    color-mix(in srgb, #082c56 75%, transparent),
    #082c56
  );
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @variant sm {
    .container {
      max-width: var(--breakpoint-sm);
    }
  }

  @variant md {
    .container {
      max-width: var(--breakpoint-md);
      padding-inline: 2rem;
    }
  }

  @variant lg {
    .container {
      max-width: var(--breakpoint-lg);
    }
  }

  @variant xl {
    .container {
      max-width: var(--breakpoint-xl);
    }
  }

  @variant 2xl {
    .container {
      max-width: var(--breakpoint-2xl);
    }
  }
}

:root {
  --primary: #082c56;
  --primary-light: #466e9e;

  --stroke-primary: #DFEDFF;
  
  --pink: #e2a9f1;
  --blue: #2877d5;

  --background: #F8F9FA;
  --radius: 0.625rem;

  --success: oklch(78% 0.08 200deg);
  --warning: oklch(89% 0.1 75deg);
  --error: oklch(75% 0.15 25deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: var(--pink);
  --color-primary: var(--primary);
  --color-stroke-primary: var(--stroke-primary);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}
